:root {
  --my-purple: rgb(71, 15, 191);
  --my-purple-fade: rgba(71, 15, 191, 0.5);
  --my-green: rgb(54, 171, 126);
  --bg-dark: black;
  --bg-light: white;
  --text-dark: white;
  --text-light: black;
  --my-grey: rgb(140, 140, 140);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", "Arial", "Helvetica", sans-serif;
  /* border: 1px solid blue; */
}

body {
  background-color: var(--bg-light);
  color: var(--text-light);
}

body.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

body.dark header {
  background-color: var(--bg-dark);
}

body.dark nav a.active {
  color: var(--text-dark);
}

body.dark .title {
  color: var(--text-dark);
}

h1,
h2,
h3, 
h4 {
  font-family: "Playfair Display", "Raleway", serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-bottom: 0.5px solid var(--my-purple-fade);
  position: sticky;
  top: 0;
  background-color: var(--bg-light);
}

footer {
  display: flex;
  justify-content: space-between;
  height: 350px;
  border-top: 0.5px solid var(--my-purple-fade);
  margin: 0 auto;
}

.footer-left {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-right {
  display: flex;
  padding: 50px;
  gap: 40px;
}

.footer-right ul {
    list-style-type: none;
}

.header-left {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

nav {
  display: flex;
  gap: 15px;
  margin-right: 10px;
}

nav a {
  padding: 10px;
  color: var(--my-green);
  text-decoration: none;
}

nav a.active {
  color: var(--text-light);
}

h2 {
  text-align: center;
  font-size: 70px;
  padding: 20px;
}

.bio-box {
  display: flex;
  flex-direction: column;
  border: 6px solid var(--my-purple);
  border-radius: 25px;
  margin: 10px;
  align-items: center;
}

.bio-box h3 {
  padding: 20px;
  font-size: 28px;
}

.bio-box a {
  padding: 0 0 25px;
}

.bio-box p {
  line-height: 1.4;
  padding: 0 30px 20px;
}

.likes {
  display: flex;
  margin: 10px 0;
}

.likes p {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 20px;
  color: var(--my-grey);
}

.home-box {
  display: flex;
  border: 6px solid var(--my-purple);
  border-radius: 25px;
  margin: 10px;
  text-align: center;
  align-items: center;
}

.home-box p {
  padding: 20px;
  line-height: 1.4;
  color: var(--my-grey);
  font-size: 18px;
  border: 0.5px solid var(--my-purple-fade);
}

.about {
  border: 6px solid var(--my-purple);
  border-radius: 25px;
  margin: 10px;
  padding: 30px;
  line-height: 1.4;
}

.share-buttons {
  margin: 30px;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.home-box.right p {
  margin-right: 10px;
}

.home-box.left p {
  margin-left: 10px;
}

.links-box {
  display: flex;
  margin: 25px 0 40px;
  gap: 10px
}

.links-box a {
  padding: 30px;
  flex: 1;
  font-size: 30px;
  text-align: center;
  color: var(--my-purple);
  border: 3px solid var(--my-green);
  border-radius: 25px;
}

.description-box {
  border: 3px solid var(--my-green);
  border-radius: 25px;
  margin-top: 25px;
}

.description {
  padding: 0 70px 40px;
  font-size: 22px;
  color: var(--my-grey);
  text-align: center;
}

main {
  max-width: 1000px;
  width: 90vw;
  margin: 0 auto;
}

.icon {
  height: 40px;
  width: 40px;
  color: var(--my-grey);
  cursor: pointer;
}

.logo {
  height: 50px;
  width: 50px;
  color: var(--my-green) !important;
}

.main-image {
  height: 300px;
  display: inline;
  border-radius: 25px;
  margin: 10px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  color: var(--my-grey);
  gap: 30px;
}

.footer-column ul li {
  padding: 8px;
}

.title {
  color: var(--text-light);
}

.thumb {
  fill: var(--my-grey);
  cursor: pointer;
}

@media (min-width: 1000px) {
  footer {
    padding: 0 10vw;
  }
}

@media (max-width: 800px) {
  iframe {
    width: 70vw;
  }

  .home-box {
    flex-direction: column;
  }

  .home-box.left {
    flex-direction: column-reverse;
  }

  .home-box img {
    width: 70vw;
    height: auto;
  }
}