@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  font-family: "Rubik", "Arial", "Helvetica", sans-serif;
  /* border: 1px solid blue; */
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.active {
  color: black;
}

html.dark .active {
  color: white;
}